.header{
    
    background-color: #C6E4D6;
    width: 1280px;
    
    height:500px;
  
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
img{
    position:absolute;
    right: 50px;
    top: 50px;
}
.text{
    width: 200px;
    padding: 50px;
    font-weight: bold;
}
button{
    background-color:rgb(0, 106, 80) ;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.main{
    height: 765px;
    width: 1280px;
    margin: auto;
    padding: 10px;
    /* background-color: #ddd5a4; */
    border-radius: 10px;
   
}
.table1{
    background-color: rgba(84, 144, 245, 0.2);
    height:325px;
    width: 410px;
    padding: 20px;
}
.table2{
    background-color:rgb(198, 228, 214);
    height:325px;
    width: 410px;
    padding: 20px;
}
.table3{
    background-color:rgb(247, 235, 207);
    height:325px;
    width: 410px;
    padding: 20px;
}
.tablecontanar{
    display: flex;
    gap: 10px;

}